<div class='summary clearfix'>
  <?if($active_staff->admin() && ($depts = $active_staff->departments) && ($dept = $depts->first())):?>
    <?$active = $all->for_department($dept->primval)->scope("unscheduled")->order("date_created DESC")->all();?>
    <p>Currently <?=$all->count()?> jobs; <?=$active->count()?> need scheduling.</p>
    <?foreach($active as $row):?>
    <p><a href="/job/details/<?=$row->primval?>/" class='dbl-click stylize' data-css-color="#<?=$row->saved_colour?>">&raquo; #<?=$row->primval?> <?=$row->title?></a></p>
    <?endforeach?>

  <?else:?>
    <p>Currently have <?=$all->count()?>. The lastest are:</p>
    <?if($last = $all->order("date_created DESC")->limit(8)->all()):?>
      <?foreach($last as $row):?>
      <p>&raquo; <?=$row->title?></p>
      <?endforeach?>
    <?endif?>
  <?endif?>
</div>