<?=partial("_filter_bar", array('structure'=>$structure, 'controller'=>$controller, 'action'=>$action, 'model'=>$model, 'filter_fields'=>$filter_fields, 'model_class'=>$model_class, 'model_scope'=>$model_scope, 'model_filters'=>$model_filters));?>

<div class='full padded clearfix'>
  <?=partial("$controller/_dynamic_tab", array('active_staff'=>$active_staff, 'controller'=>$controller, 'action'=>$action));?>
  <div class='content clearfix listing_block'>
    <?=partial("graphs", array('month_events'=>$month_events,'model'=>$model,'scaffold_columns'=>$scaffold_columns, 'calendar'=>$calendar, 'calendar_content'=>$calendar_content, 'controller'=>$controller, 'action'=>$action, 'model_filters'=>$model_filters, 'active_staff'=>$active_staff,  'operations'=>$operations, 'permissions'=>$permissions, 'table'=>$table), "ajax");?>
  </div>
</div>