.link_block{
  float:left;
  width:27%;
  margin:10px 0;
  text-decoration:none;
  text-transform:uppercase;
  background:white;
  margin-right:3%;
}
.link_block:nth-child(3n){
  margin-right:0%;
}
.link_block:nth-child(4n){
  clear:both;
}

  .link_block a{
    text-decoration:none;
    font-family:"Open Sans", helvetica, arial;
  }
  .link_block .options{
    margin-top:5px;
    padding-top:5px;
    border-top:1px solid rgba(94, 94, 94, 0.2);
  }
    .link_block .options a{
      font-size:77%;
    }

  .summary{
    margin-top:5px;
    font-size:93%;
    text-transform:none;
  }
  .summary p{margin-bottom:2px;}

  .link_block.block-work .repeat{
    margin:0;
    padding:0;
    border-width:0;
  }
  .link_block.block-work h3 small{
    float:right;
  }
  .link_block.block-work h3 span{
    display:none;
  }