.navbar{
  background:white;
  border-bottom:3px solid rgba(94,94,94,0.5);
}
.navbar h4{
  float:left;
  margin-bottom:0;
  margin-right:10px;
}
.navbar select{
  float:left;
  width:70%;
}

.navbar .goto{
  padding-top:4px;
  float:left;
  width:20%;
  padding-right:1%;
  margin-right:2%;
}
.navbar .filters{
  float:left;
  width:70%;
}
.navbar .filters label{display:none;}
.navbar .filters input[type=text]{
  width:150px;
  float:left;
  margin-right:10px;
}
.navbar .filters select{
  width:180px;
}
.filters h4{
  padding-top:3px;
}
.status_filter{
  float:left;
  padding-top:5px;
  margin-right:10px;
}