<a name="step"></a>
<div class='form restricted_form organisation_form clearfix'>
  <h2>Now lets create organisations!</h2>
  <p>Congratulations <?=$active_staff->title?> on creating your account; lets move on to the next step. Fill in the name of your organisation details in the form below.</p>
  <div class='repeat'>
  <?=partial("organisation", array('model'=>$model,'active_staff'=>$active_staff,'organisation_form'=>$organisation_form, 'controller'=>$controller, 'action'=>$action, 'active'=>true), "ajax");?>

  <?foreach($active_staff->organisations as $org):?>
    <?
    $existing = new WaxForm($org);
    ?>
    <?=partial("organisation", array('model'=>$org,'active_staff'=>$active_staff,'organisation_form'=>$existing, 'controller'=>$controller, 'action'=>$action, 'active'=>false), "ajax");?>
  <?endforeach?>
  </div>
  <a href="/<?=$controller?>/department/" class='button continue'>Continue &raquo;</a>
</div>