<a name="step"></a>
<div class='form restricted_form'>
  <h1>Now create some members of staff</h1>
  <p>Using the form below you can create a member of staff and assign them to a department &amp; organisation</p>
  <?=$staff_form->errors();?>
  <form action="#step" method="post">
    <fieldset class="inline_fields clearfix">
      <?=$staff_form->title->render(array('label'=>'Persons name', 'placeholder'=>'Persons name'));?>
      <?=$staff_form->email->render(array('label'=>'Persons emails', 'placeholder'=>'Persons emails'));?>
      <?=$staff_form->role->render(array('label'=>'Persons role'));?>
      <?=$staff_form->organisations->render(array('label'=>'Organisation'));?>
      <?=$staff_form->departments->render(array('label'=>'Department'));?>

      <input type="submit" name="join_submit" value="Add +" class="submit_button">
    </fieldset>
    <fieldset class="inline_fields clearfix">

    </fieldset>
  </form>

</div>