<div class='top_bar'>
  <div class='content clearfix'>
    <?if($active_staff):?>
    <a href="/logout/" class='button logout'>Logout</a>
    <a href="/dash/" class='button dash'>Dashboard</a>
    <?else:?>
    <a href="/login/" class='button login'>Login</a>
    <a href="/join/" class='button join'>Join</a>
    <?endif?>

    <h1 id="logo"><a href="/<?if($active_staff):?>dash/<?endif?>"><span><?=Config::get("site/name")?><span></a></h1>
    <h2><a href="/<?=$controller?>/">&raquo; <?=(($name)? $name : Inflections::humanize($controller))?></a></h2>
  </div>
</div>