<div class='top_bar'>
  <div class='content clearfix'>
    <?if(!$active_staff):?>
    <a href="/login/" class='button login'>Login</a>
    <a href="/join/" class='button join'>Join</a>
    <?endif?>
    <?if($active_staff):?>
    <?=partial("search/_inline");?>
    <?endif?>
    <h1 id="logo"><a href="/<?if($active_staff):?>dash/<?endif?>"><span><?=Config::get("site/name")?><span></a></h1>
    <?=partial("_navbar", array('structure'=>$structure, 'controller'=>$controller, 'action'=>$action));?>

  </div>
</div>