<div class='full clearfix navbar content'>
  <form class='goto' action="#top">
    <h4>Go to</h4>
    <select name="redirect">
      <option value="">-- Select --</option>
      <?foreach($structure as $controller_name=>$data):?>
      <optgroup label="<?=$data['name']?>">
        <?foreach($data['options'] as $action_name=>$name):?>
        <option value="/<?=$controller_name?>/<?=((is_numeric($action_name))? "" : $action_name."/" )?>"><?=$data['name']?> <?=$name?></option>
        <?endforeach?>
      </optgroup>
      <?endforeach?>
    </select>
  </form>
  <?if(count($filter_fields)):?>
  <form class='filters' action="#top">

    <h4>Filters</h4>
    <fieldset class='filters_container' id="filters_container" data-replace=".listing_block" data-action="/<?=$controller?>/<?=$action?>/.ajax">
      <input type="hidden" name="month" value="<?=Request::param("month")?>">
      <input type="hidden" name="year" value="<?=Request::param("year")?>">
      <?foreach($filter_fields as $name=>$field):?>
      <?if($field['editable'] !== false):?>
      <?=partial($field['partial'], array('controller'=>$controller, 'field'=>$field, 'name'=>$name, 'data'=>$data, 'model'=>$model, 'model_class'=>$model_class, 'model_scope'=>$model_scope, 'model_filters'=>$model_filters))?>
      <?endif?>
      <?endforeach?>
    </fieldset>
  </form>
  <?endif?>
</div>