<?=partial("_navbar", array('structure'=>$structure, 'controller'=>$controller, 'action'=>$action, 'filter_fields'=>array()));?>
<div class='full padded clearfix'>
  <?=partial("$controller/_dynamic_tab", array('active_staff'=>$active_staff, 'controller'=>$controller, 'action'=>$action));?>

  <div class='content clearfix'>
    <?=partial("create", array('model'=>$model,'model_saved'=>$model_saved,'active_staff'=>$active_staff, $$form_name=>$$form_name, 'controller'=>$controller, 'action'=>$action, 'active'=>false), "ajax");?>
  </div>
</div>