<?=partial("_navbar", array('structure'=>$structure, 'controller'=>$controller, 'action'=>$action, 'model'=>$model, 'filter_fields'=>array(), 'model_class'=>$model_class, 'model_scope'=>$model_scope, 'model_filters'=>array()));?>

<div class='full padded clearfix'>
  <?if($active_staff->admin()):?>
      <?=partial("$controller/_dynamic_tab", array('active_staff'=>$active_staff, 'controller'=>$controller, 'action'=>$action));?>
    <?else:?>
      <?=partial("$controller/_help_tab", array('active_staff'=>$active_staff, 'controller'=>$controller, 'action'=>$action));?>
    <?endif?>

  <div class='content clearfix listing_block'>
    <div class='pagination_block clearfix top_pagintion'>
      <h1 id="editheader"><span>Details for <?=$model->title?></span></h1>
    </div>
    <?=partial("details", array('model'=>$model,'controller'=>$controller, 'action'=>$action, 'active_staff'=>$active_staff, $$form_name=>$$form_name, 'form_name'=>$form_name, 'model_saved'=>$model_saved), "ajax");?>

  </div>
</div>