.top_bar{
  padding:0;
  background: rgb(227,228,229); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(227,228,229,1) 0%, rgba(206,201,200,1) 50%, rgba(224,224,224,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,228,229,1)), color-stop(50%,rgba(206,201,200,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(227,228,229,1) 0%,rgba(206,201,200,1) 50%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(227,228,229,1) 0%,rgba(206,201,200,1) 50%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(227,228,229,1) 0%,rgba(206,201,200,1) 50%,rgba(224,224,224,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(227,228,229,1) 0%,rgba(206,201,200,1) 50%,rgba(224,224,224,1) 100%); /* W3C */
}
  .top_bar .button{
    float:right;
    margin-left:10px;
    margin-top:0;
  }

#header_search{
  float:right;
  width:20%;
  margin-left:1%;
}
#header_search label,
#header_search input{
  display:block;
  float:left;
  margin:0;
}

  #header_search label span{
    display:none;
  }
#header_search input{
  width:95%;
  padding:5px 1%;
}
#header_search .inline_search_results{
  position:relative;
  width:95%;
  padding:4px 1%;
}
#header_search .search_results{
  position:absolute;
  padding:0;
  top:24px;
  background:white;
  border-top:0;
  width:100%;
  box-shadow:4px 5px 6px rgba(0,0,0,0.4);
}
  .search_results .result{
    padding:0;
    border-bottom:1px solid rgba(94, 94, 94, 0.2);
  }
  .search_results .result a{
    text-decoration:none;
    display:block;
    padding:3px 10px;
  }
  .search_results .result span{
    margin-bottom:0px;
    display:block;
    font-size:93%;
  }
  .search_results .result a.sect{
    font-size:116%;
    padding:4px 6px;
  }
  .search_results .result a.res{
    font-size:100%;
  }
    .search_results .result a.res:hover{
      background:#CFF2F9;
    }