.fixed{
  width:960px;
  margin:0 auto;
}

.repeat{
  padding:10px;
  border:8px solid rgba(94, 94, 94, 0.2);
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

.row{
  background:white;
  margin-bottom:15px;
}
  .row .extra{
    float:left;
    width:30%;
    padding:0 1%;
    border-right:1px solid rgba(94, 94, 94, 0.2)

  }
  .row .extra:first-child{
    padding-left:0;
  }
  .row .extra:nth-child(3n){
    padding-right:0;
    border-right:0;
  }

.content{
  width:90%;
  padding:15px 5%;
}

.scrolling.small{
  height:80px;
  overflow:auto;
}
.scrolling.medium{
  height:120px;
  overflow: auto;
}
.scrolling.large{
  height:180px;
  overflow: auto;
}