ul.inline li{
  float:left;
  width:30%;
  margin:0 0 5px 5px;
}
ul.inline li label{
  margin-left:5px;
}

.error_message{
  display:block;
  margin:3px 0;
  color:#a91c12;
  float:left;
  width:99%;
}

form label,
form input[type="text"],
form select,
form textarea{
  display:block;
  float:none;
  width:99%;
}
form label{
  font-size:108%;
  margin:8px 0;
  font-family:"Open Sans", helvetica, arial;
}
form input,
form textarea{
  padding:8px 5px;
  font-size:108%;
  border:1px solid #dcdcdc;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.1);
}
  form input.error_field{
    border-color:#a91c12;
  }
form textarea,
.scrolling{
  height:180px;
  background:#f6f6f6;
}
form input[type="text"][disabled="disabled"]{
  border-width:0;
  background:#f7f7f7;

}
form input[type="checkbox"]{
  width:auto !important;
  margin-right:1%;
  float:left;
}
.editing .on{
  font-size:131%;
}

/*
form.updated fieldset:first-child{
  background:url('/images/wildfire-wildfire.resources/icons/updated.png') no-repeat right center;
}
*/
label span.required{
  color:red;
}
form .grouped{
  border:8px solid rgba(94, 94, 94, 0.2);
  padding:1%;
  background:white;
  border-radius:4px;
}
form .grouped fieldset{
  float:left;
}

  .groups-2 fieldset{
    width:48%;
  }
    .groups-2 fieldset:first-child{
      margin-right:4%;
    }
  .groups-3 fieldset{
    width:30%;
  }
    .groups-3 fieldset:nth-child(2){
      margin:0 4%;
    }


form .submission input[type=submit]{
  float:right;
}

form.completed label,
form.completed span,
form.completed h3,
form.completed h4,
form.completed h5
{
  text-decoration:line-through;
}