
.form fieldset{
  margin-bottom:10px;
}
.restricted_form{
  width:62%;
  max-width:800px;
  margin:20px auto;
  padding:10px;
}
.inline_fields label{display:none;}
.form li label{
  display:inline;
}
ul.inline li{
  float:left;
  width:30%;
  margin:0 0 5px 5px;
}
ul.inline li label{
  margin-left:5px;
}

.error_message{
  display:block;
  margin:3px;
  color:#a91c12;
}
form textarea{
  width:96%;
  height:100px;
  padding:10px 2%;
}

form span{
  display:block;
  margin-bottom:15px;
}
form span.button,
form .button span{
  margin-bottom:0;
}
form .button span
form span label{
  float:left;
  font-weight:bold;
  font-size:108%;
  width:43%;
  padding-top:5px;
}

form span em{
  float:left;
  width:52%;
  display:block;
  font-style:normal;
  padding-top:6px;
}
form label{
  margin-right:10px;
}
form input,
form textarea{
  padding:8px 5px;
  font-size:108%;
  border:1px solid #dcdcdc;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.1);
}
  form input.error_field{
    border-color:#a91c12;
  }

form input[type="text"][disabled="disabled"]{
  border-width:0;
  background:#f7f7f7;

}

form span input,
form span select,
form span textarea{
  float:left;
  width:52%;
}
form span select{
  width:52%;
}

.inline_fields .error_message{display:none;}
form.updated{
  margin-bottom:20px;
}
form.updated:last-child{
  margin-bottom:0;
  border-bottom-width:0;
}
form.updated fieldset:first-child{
  background:url('/images/wildfire-wildfire.resources/icons/updated.png') no-repeat right center;
}
form.updated .submit_button{
  display:none;
}

.repeat form:first-child{
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:8px solid rgba(204,204,204,0.5);
}
.no_border form:first-child{
  border-bottom-width:0px;
  padding-bottom:0;
  margin-bottom:0;
}

form.editing fieldset{
  float:left;
  width:45%;
  padding:10px;
  margin-bottom:15px;
  background:white;
  border:8px solid rgba(204,204,204,0.5);
}
form.editing fieldset:nth-of-type(even){
  float:right;
}

form.editing span label{
  float:left;
  width:35%;
  font-weight:bold;
  padding-top:6px;
}
.editing fieldset.updated{
  background: url('/images/wildfire-wildfire.resources/icons/updated.png') no-repeat right 98%;
}