h1{
  font-size:197%;
  margin-bottom:10px;
}
h2{
  font-size:174%;
  margin-bottom:10px;
}
  h3.no-margin{
    margin-bottom:0;
  }
  h3 span.date{
    float:right;
    font-size:75%;
    font-weight:bold;
  }
h3,
h4{
  font-size:146.5%;
  margin-bottom:10px;
}
  h3.no-margin{
    margin-bottom:0;
  }
  h4.deadline{
    font-weight:bold;
    font-size:100%;
  }
h5,
h6{
  font-size:123.1%;
  margin-bottom:10px;
}

h1,h2,h3,h4,h5,h6{
  font-family:"open sans", helvetica, arial;
}

h1#editheader span{
  display:inline;
  padding-right:45px;
}
h1#editheader.updated span{

  background:url('/images/wildfire-wildfire.resources/icons/updated.png') no-repeat right center;
}
h1 a,
h2 a{
  text-decoration:none;
}