<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>RESOURCES</title>
  <style>
    *{
      font-family:helvetica, arial;
      color:#000;
      margin:0;
      padding:0;
    }
    img{
      border:none;
    }

    p{
      font-size:13px;
      margin:0.8em 0;
    }
    a{
      color:#b51a09;
      text-decoration:none;
    }

  </style>
</head>
<body>
<div id="wrapper" style="width:640px;font-family:tahoma, arial, sans-serif; color:#000000; font-size:13px;margin:10px auto;border:1px solid #f7f7f7;">
  <table width="640" bgcolor="#f7f7f7" style="background-color:#f7f7f7; background:#f7f7f7">
    <tr>
      <td align="left"><img src="http://<?=$_SERVER['HTTP_HOST']?>/images/wildfire-wildfire.resources/logo.png" alt="<?=Config::get("site/name")?>"></td>
      <td style="padding:10px;" align="left">
        <h1><font size="5" color="#424242"><?=$subject?></font></h1>
      </td>
    </tr>
    <tr>

      <td colspan="2">
        <p>Hello <?=$staff->title?>,</p>
        <p>A new job has been created for your department. Use the link below to view it.</p>
        <p><a href="http://<?=$_SERVER['HTTP_HOST']?>/job/edit/<?=$job->primval?>/"><?=$job->title?> <?if($client && $job):?><small>(<?=$client->title?> @ <?=$job->deadline()?>)</small><?endif?></a></p>
      </td>
    </tr>
  </table>

</div>
</body>
</html>
