table.calendar td,
table.calendar th{
  border-right:1px solid rgb(214,214,214);
  border-bottom:1px solid rgb(214,214,214);
}
table.calendar td{padding:0;}
span.calendar_date{
  display:block;
  padding:4px 6px;
  margin-bottom:4px;
}
td.next,
td.previous{
  background:#ededed;
}
td.today{
  background:#f1da36;
}
.work{
  padding:6px;
  display:block;
}
.work.tiny{
  font-size:65%;
}

.header.gnats-ass{
  color:red;
}
.header.breath-easy{
  color:#207cca;
}
.header.eye-of-needle{
  color:#299a0b;
}
.header.eon{
  color:black;
}
