table.calendar td,
table.calendar th{
  border-right:1px solid rgb(214,214,214);
  border-bottom:1px solid rgb(214,214,214);
}
table.calendar td{padding:0;}
.calendar_date{
  display:block;
  padding:4px 6px;
  margin-bottom:4px;
}
td.next,
td.previous{
  background:#ededed;
}
td.today{
  background:#CEF7A3;
}
.work{
  padding:6px;
  display:block;
}
.work.tiny{
  font-size:65%;
}

.header.gnats-ass{
  color:red;
}
.header.easy-peasy{
  color:#299a0b;
}
.header.room-to-spare{
  color:#207cca;
}
.header.eon{
  color:black;
}

td.highlight{
  background:#f1da36;
}
