<!DOCTYPE html>
<html lang="en" id="res-<?=$body_id?>" class='res <?=$body_class?>'>
<head>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" type="text/css" media="all">
  <?=css_bundle("wildfire-templates", array('media'=>'all'))?>
  <?=css_bundle("wildfire.resources", array(), "wildfire.resources");?>
  <?=css_bundle("core", array('media'=>'all'))?>

  <!--[if IE]><?=css_bundle("ie", array('media'=>'all'))?><![endif]-->
  <!--[if lte IE 7]><?=css_bundle("ie6-7", array('media'=>'all'))?><![endif]-->
  <?=partial("_cf")?>
  <title><?=partial("__title", array('content_object_stack'=>$content_object_stack, 'site_name'=>Config::get('site/name')))?></title>
</head>
<body id="res<?=$body_id?>" class='<?=$body_class?>'>
<a name="top"></a>
<?=partial("_header", array('active_staff'=>$active_staff, 'name'=>$name));?>
<div id="content_block" class='clearfix full'>
  <?=$content_for_layout?>
</div>
<?=partial("_footer");?>
<?=partial("_javascript", array('cms_content'=>$cms_content));?>

</body>
</html>